@font-face {
    font-family: 'King';
    src: url('King.eot');
    src: url('King.eot?#iefix') format('embedded-opentype'),
        url('King.woff2') format('woff2'),
        url('King.woff') format('woff'),
        url('King.ttf') format('truetype');
    font-weight: 500;
}

body {
    font-family: 'King';
    text-transform: uppercase;
    text-align: center;

    background-color: black;
}

.main-panel {
    display: inline-block;
    width: 50%;
    margin: 2em;
    padding: 0em 4em;

    background-color: white;
}

.title {
    text-decoration: underline;
    margin: 0.9em;
    margin-bottom: 1.0em;
}

.text-panel {
    width: 100%;
    height: 8em;
    padding: 0.5em;

    font-family: 'King';
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    resize: none;
    border: solid black 2px;
}

.send-button {
    margin: 2em;
    padding: 0.25em 0.5em;

    font-family: 'King';
    font-size: 1.5em;
    color: black;
    background-color: white;
    border: solid black 2px;

    cursor: pointer;
}

.send-button:hover, .send-button:focus, .send-button:active {
    color: white;
    background-color: black;
    border: solid black 2px;
}
